{% load static %}

<div id="fh5co-about" class="animate-box">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                <h2>My Story</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5">
                <ul class="info">
                    <li><span class="first-block">Full Name:</span><span class="second-block">{{profile.name}}</span></li>
                    <li><span class="first-block">Phone:</span><span class="second-block">{{profile.phone}}</span></li>
                    <li><span class="first-block">Email:</span><span class="second-block">{{profile.email}}</span></li>
                    <li><span class="first-block">Website:</span><span class="second-block">{{profile.website}}</span></li>
                    <!-- <li><span class="first-block">Address:</span><span class="second-block">198 West 21th Street, Suite 721 New York NY 10016</span></li> -->
                </ul>
            </div>
            <div class="col-md-7">
                <h3>Hello World,</h3>
                <p>{{profile.bio|linebreaks}}</p>
            </div>
        </div>
    </div>
</div>
<hr>