{% load static %}

<div id="fh5co-about" class="animate-box">
    <div class="container">
        <h2 align="center">Professional Certifications</h2>
        <hr>
        <div class="row">
            <div>
                <ul class="info">
                    <li><span class="first-block">Codecademy (March-2022) ------------------</span><span class="second-block">Certified in Advanced Python3 and Completed Back-end skill path.</span></li>
                    <li><span class="first-block">LinkedIn Learning (Aug-2021) -------------</span><span class="second-block">Building RESTful Web APIs with Django.</span></li>
                    <li><span class="first-block">Udacity (March-2021) ---------------------</span><span class="second-block">Nanodegree in Data Structure and Algorithm with Python.</span></li>
                    <li><span class="first-block">MongoDB University (March-2021) ----------</span><span class="second-block">Verified in M001-MongoDB Basics and A300-Atlas Security. </span></li>
                    <li><span class="first-block">Udemy (Feb-2021) -------------------------</span><span class="second-block">Django developer bootcamp-2021.</span></li>
                </ul>
            </div>
        </div>
    </div>
</div>
