{% load static %}

<div id="fh5co-work" class="fh5co-bg-dark">
    <div class="container">
        <div class="row animate-box">
            <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                <h2>Work</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 text-center col-padding animate-box">
                <a href="https://look-weather.herokuapp.com/" target="_blank" rel="noopener noreferrer" class="work" style="background-image: url( '{% static 'images/weather.png' %}');">
                    <div class="desc">
                        <h3>Weather Scraper</h3>
                        <span>View Live</span>
                    </div>
                </a>
            </div>
            <div class="col-md-4 text-center col-padding animate-box">
                <a href="https://github.com/harish445/DevSearch" target="_blank" rel="noopener noreferrer" class="work" style="background-image: url( '{% static 'images/devsearch.jpg' %}');">
                    <div class="desc">
                        <h3>Social Website</h3>
                        <span>View Code</span>
                    </div>
                </a>
            </div>
            <div class="col-md-4 text-center col-padding animate-box">
                <a href="https://github.com/harish445/Chat_app" target="_blank" rel="noopener noreferrer" class="work" style="background-image: url( '{% static 'images/chat.jpg' %}');">
                    <div class="desc">
                        <h3>Chat App</h3>
                        <span>View Code</span>
                    </div>
                </a>
            </div>
            
        </div>
    </div>
</div>

<!-- https://look-weather.herokuapp.com/ -->