{% load static %}

<div id="fh5co-features" class="animate-box" style="background-color:rgb(12, 12, 12);">
    <div class="container">
        <div style="padding: 60px 50px 0px 100px; ">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                    <h2 style="font-size: 25px">"Programming isn't about what you know; it's about what you can figure out.” - ...</h2>
                </div>
            </div>
        </div>
    </div>
</div>